
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" />


    <!-- cropper.js -->
<!--    <link rel="stylesheet" href="path/to/cropper.css">-->
<!--    <script src="path/to/cropper.js"></script>-->
    <!-- EndCropper.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css">


</head>
<style>

    .page {
        margin: 1em auto;
        max-width: 768px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
    }

    .box {
        padding: 0.5em;
        width: 100%;
        margin:0.5em;
    }

    .box-2 {
        padding: 0.5em;
        width: calc(100%/2 - 1em);
    }

    .options label,
    .options input{
        width:4em;
        padding:0.5em 1em;
    }
    .btn{
        background:white;
        color:black;
        border:1px solid black;
        padding: 0.5em 1em;
        text-decoration:none;
        margin:0.8em 0.3em;
        display:inline-block;
        cursor:pointer;
    }

    .hide {
        display: none;
    }

    img {
        max-width: 136px;
    }

</style>
<body>
<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="index.html"><img src="/assets/images/logo.svg" alt="logo" /></a>
            <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator">
                            <img class="img-xs rounded-circle " src="/assets/images/faces/face15.jpg" alt="">
                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name">
                            <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
                            <span>Gold Member</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link">Navigation</span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/adminHome}">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/salesReport}">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
                    <span class="menu-title">Sales Report</span>
                </a>
            </li>

            <li class="nav-item menu-items">
                <a class="nav-link"  th:href="@{/admin/listUsers}">
              <span class="menu-icon">
                <i class="mdi  mdi-account-multiple"></i>
              </span>
                    <span class="menu-title" >User</span>
                </a>
            </li>

            <li class="nav-item menu-items">
                <a class="nav-link"  th:href="@{/admin/listCategory}">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
                    <span class="menu-title" >Category</span>
                </a>
            </li>


            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic"  aria-expanded="false" aria-controls="ui-basic" >
              <span class="menu-icon">
                <i class="mdi mdi mdi-shopping"></i>
              </span>
                    <span class="menu-title">Product</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link"  th:href="@{/admin/addProducts}">Add products</a></li>
                        <li class="nav-item"> <a class="nav-link" th:href="@{/admin/listProducts}">List products</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/listOrders}">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
                    <span class="menu-title">Order</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/listCoupons}">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
                    <span class="menu-title">Coupon</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                            <div class="navbar-profile">
                                <img class="img-xs rounded-circle" src="/assets/images/faces/face15.jpg" alt="">
                                <p class="mb-0 d-none d-sm-block navbar-profile-name">Henry Klein</p>
                                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">

                            <div class="dropdown-divider"></div>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-logout text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Log out</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-format-line-spacing"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row ">

                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body ">
                                <h4 class="card-title">Add Products</h4>
                                <hr class="text-light">
                                <form class="forms-sample col-8 mx-auto" th:action="@{/admin/addProduct2}" method="post" th:object="${product2}" enctype="multipart/form-data" >
                                    <div class="form-group">
                                        <label for="exampleSelectGender">SubCategory</label>
<!--                                        <select class="form-control" id="exampleSelectGender" th:each="variant : ${subCategories}" th:field="*{subcategories}">-->
<!--                                            <option th:value="${variant.subCategoryName}" th:text="${variant.subCategoryName}"></option>-->
<!--                                        </select>-->
                                        <select class="form-control" id="exampleSelectGender" th:field="*{subcategories}" >
                                            <option  th:each="variant : ${subCategories}"  th:if="${variant.category.id == categoryId }" th:value="${variant.subCategoryId}" th:text="${variant.subCategoryName}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword4">Price</label>
                                        <input type="text" class="form-control" id="exampleInputPassword4" placeholder="Price" th:field="*{price}">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputName1">Quantity</label>
                                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Quantity" th:field="*{quantity}">
                                    </div>
<!--                                    <div class="mb-3">-->
<!--                                        <label for="imageUpload" class="form-label " >Choose file</label>-->
<!--                                        <input type="file" id="imageUpload" name="image" accept="image/*">-->
<!--                                    </div>-->


<!-- ------------------------- cropper.js------------------------------>
<!--                                    <div class="mb-3 cropperContainer">-->
<!--                                        <label for="imageUpload" class="form-label">Choose file</label>-->
<!--                                        <input type="file" id="imageUpload" name="imageUpload" accept="image/*" onchange="handleFileSelect(event)">-->
<!--                                    </div>-->
<!--                                    <div id="previewContainer" class="mb-3">-->
<!--                                        <img id="previewImage" class="img-fluid" alt="Preview">-->
<!--                                    </div>-->
<!--                                    <input type="hidden" id="cropX" name="cropX">-->
<!--                                    <input type="hidden" id="cropY" name="cropY">-->
<!--                                    <input type="hidden" id="cropWidth" name="cropWidth">-->
<!--                                    <input type="hidden" id="cropHeight" name="cropHeight">-->


<!--                                    <div class="row d-flex justify-content-between ">-->

<!--                                        <div class="col-lg-3 col-md-6 rounded-image-preview">-->
<!--                                            <label for="imageInput1" class="image-label">image 1-->
<!--                                                <div class="rounded-image-preview">-->
<!--                                                    <img id="imagePreview1"-->
<!--                                                         src="https://www.creativefabrica.com/wp-content/uploads/2021/04/05/Image-Upload-Icon-Graphics-10388650-1-580x386.jpg"-->
<!--                                                         alt="Preview" />-->
<!--                                                </div>-->
<!--                                                <input name="image1" type="file" accept="image/*" id="imageInput1" class="imageInput" hidden>-->
<!--                                            </label>-->
<!--                                        </div>-->

<!--                                        <div class="col-lg-3 col-md-6 rounded-image-preview">-->
<!--                                            <label for="imageInput2" class="image-label">image 2-->
<!--                                                <div class="rounded-image-preview">-->
<!--                                                    <img id="imagePreview2"-->
<!--                                                         src="https://www.creativefabrica.com/wp-content/uploads/2021/04/05/Image-Upload-Icon-Graphics-10388650-1-580x386.jpg"-->
<!--                                                         alt="Preview" />-->
<!--                                                </div>-->
<!--                                                <input name="image2" type="file" accept="image/*" id="imageInput2" class="imageInput" hidden>-->
<!--                                            </label>-->
<!--                                        </div>-->

<!--                                        <div class="col-lg-3 col-md-6 rounded-image-preview">-->
<!--                                            <label for="imageInput3" class="image-label">image 3-->
<!--                                                <div class="rounded-image-preview">-->
<!--                                                    <img id="imagePreview3"-->
<!--                                                         src="https://www.creativefabrica.com/wp-content/uploads/2021/04/05/Image-Upload-Icon-Graphics-10388650-1-580x386.jpg"-->
<!--                                                         alt="Preview" />-->
<!--                                                </div>-->
<!--                                                <input name="image3" type="file" accept="image/*" id="imageInput3" class="imageInput" hidden >-->
<!--                                            </label>-->
<!--                                        </div>-->

<!--                                        <div class="col-lg-3 col-md-6 rounded-image-preview">-->
<!--                                            <label for="imageInput4" class="image-label">image 4-->
<!--                                                <div class="rounded-image-preview  img-result">-->
<!--                                                    <img class="cropped" id="imagePreview4"-->
<!--                                                         src="https://www.creativefabrica.com/wp-content/uploads/2021/04/05/Image-Upload-Icon-Graphics-10388650-1-580x386.jpg"-->
<!--                                                         alt="Preview" />-->
<!--                                                </div>-->
<!--                                                <input name="image4" type="file" accept="image/*" id="imageInput4" class="imageInput" hidden >-->
<!--                                            </label>-->
<!--                                        </div>-->
<!--                                    </div>-->

                                    <div class="row d-flex justify-content-between ">
                                        <div class="col-lg-3 col-md-6 rounded-image-preview">
                                            <label for="imageInput1" class="image-label">image 1
                                                <div class="rounded-image-preview">
                                                    <img id="imagePreview1" src="https://www.creativefabrica.com/wp-content/uploads/2021/04/05/Image-Upload-Icon-Graphics-10388650-1-580x386.jpg" alt="Preview" />
                                                </div>
                                                <input name="image1" type="file" accept="image/*" id="imageInput1" class="imageInput" hidden onchange="handleFileInputChange(1)">
                                            </label>
                                            <div id="cropperContainer1" class="hide">
                                                <div class="box">
                                                    <div class="options">
                                                        <label> Width</label>
                                                        <input type="number" class="img-w" value="300" min="100" max="1200" />
                                                    </div>
                                                    <button class="btn save" onclick="cropAndSaveImage(1)">Save</button>
                                                </div>
                                                <input type="hidden" name="croppedImage" id="croppedImage" />

                                            </div>
                                            <div id="croppedImagePreview1" class="hide"></div>
                                        </div>

                                        <!-- Add similar HTML structure for imageInput2, imageInput3, and imageInput4 -->
                                    </div>











                                    <!--                                    <input type="hidden" id="croppedImage"  name="croppedImage" th:value="${product.imageName}">-->

<!--                                    &lt;!&ndash; leftbox &ndash;&gt;-->
<!--                                    <div class="box-2">-->
<!--                                        <div class="result"></div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash;rightbox&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="box-2 img-result hide">&ndash;&gt;-->
<!--&lt;!&ndash;                                        &lt;!&ndash; result of crop &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                        <img class="cropped" src="" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                                    &lt;!&ndash; input file &ndash;&gt;-->
<!--                                    <div class="box">-->
<!--                                        <div class="options hide">-->
<!--                                            <label> Width</label>-->
<!--                                            <input type="number" class="img-w" value="300" min="100" max="1200" />-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; save btn &ndash;&gt;-->
<!--                                        <button class="btn save hide">Save</button>-->
<!--                                    </div>-->
                                    <!-- ------------------------- cropper.js------------------------------>











                                    <button type="submit" class="btn btn-lg btn-inverse-primary mr-2 mt-5">Add Product</button>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js"></script>

<script>
    // vars
    let result = document.querySelector('.result'),
    img_result = document.querySelector('.img-result'),
    img_w = document.querySelector('.img-w'),
    options = document.querySelector('.options'),
    save = document.querySelector('.save'),
    cropped = document.querySelector('.cropped'),
    upload = document.querySelector('#file-input'),
    cropper = '';

// on change show image with crop options
upload.addEventListener('change', (e) => {
    if (e.target.files.length) {
        // start file reader
        const reader = new FileReader();
        reader.onload = (e) => {
            if (e.target.result) {
                // create new image
                let img = document.createElement('img');
                img.id = 'image';
                img.src = e.target.result;
                // clean result before
                result.innerHTML = '';
                // append new image
                result.appendChild(img);
                // show save btn and options
                save.classList.remove('hide');
                options.classList.remove('hide');
                // init cropper
                cropper = new Cropper(img);
            }
        };
        reader.readAsDataURL(e.target.files[0]);
    }
});

// save on click
save.addEventListener('click', (e) => {
    e.preventDefault();
    // get result to data uri
    let imgSrc = cropper.getCroppedCanvas({
        width: img_w.value // input value
    }).toDataURL();

    // Update the hidden input field value with the cropped image data URI
    document.getElementById('croppedImage').value = imgSrc;

    // remove hide class of img
    cropped.classList.remove('hide');
    img_result.classList.remove('hide');
    // show image cropped
    cropped.src = imgSrc;
    dwn.classList.remove('hide');
    dwn.download = 'imagename.png';
    dwn.setAttribute('href', imgSrc);
});
</script>








<!-- container-scroller -->
<!-- plugins:js -->
<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/assets/js/off-canvas.js"></script>
<script src="/assets/js/hoverable-collapse.js"></script>
<script src="/assets/js/misc.js"></script>
<script src="/assets/js/settings.js"></script>
<script src="/assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/assets/js/dashboard.js"></script>
<!-- End custom js for this page -->
</body>
</html>