
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
    <!---- Icon ----->
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous">-->
    <!-- //font-awesome test links -->
    <link rel="stylesheet" href="/v6.4.2/css/sharp-solid.css">
    <link rel="stylesheet" href="/v6.4.2/css/sharp-regular.css">
    <link rel="stylesheet" href="/v6.4.2/css/sharp-light.css">
    <link rel="stylesheet" href="/v6.4.2/css/all.css">
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" th:href="@{/admin/adminHome}">CRAVEHUB</a>
            <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator">
                            <img class="img-xs rounded-circle " src="/assets/images/faces/face15.jpg" alt="">
                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name">
                            <h5 class="mb-0 font-weight-normal" th:text="${session.userName}">Henry Klein</h5>
                            <span>Gold Member</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link">Navigation</span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/adminHome}">
              <span class="menu-icon">
                <i class="mdi mdi-view-grid"></i>
              </span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>

            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/salesReport}">
              <span class="menu-icon">
                <i class="mdi mdi-chart-line"></i>
              </span>
                    <span class="menu-title">Sales Report</span>
                </a>
            </li>

            <li class="nav-item menu-items">
                <a class="nav-link"  th:href="@{/admin/listUsers}">
              <span class="menu-icon">
                <i class="mdi  mdi-account-multiple"></i>
              </span>
                    <span class="menu-title" >User</span>
                </a>
            </li>

            <li class="nav-item menu-items">
                <a class="nav-link"  th:href="@{/admin/listCategory}">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
                    <span class="menu-title" >Category</span>
                </a>
            </li>


            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic"  aria-expanded="false" aria-controls="ui-basic" >
              <span class="menu-icon">
                <i class="mdi mdi mdi-shopping"></i>
              </span>
                    <span class="menu-title">Product</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link"  th:href="@{/admin/addProducts}">Add products</a></li>
                        <li class="nav-item"> <a class="nav-link" th:href="@{/admin/listProducts}">List products</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/listOrders}">
              <span class="menu-icon">
                <i class="mdi mdi-truck-delivery"></i>
              </span>
                    <span class="menu-title">Order</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/listCoupons}">
              <span class="menu-icon">
                <i class="mdi mdi-gift"></i>
              </span>
                    <span class="menu-title">Coupon</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/offers}">
              <span class="menu-icon">
                <i class="mdi mdi-wallet-giftcard"></i>
              </span>
                    <span class="menu-title">Offers</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                            <div class="navbar-profile">
                                <img class="img-xs rounded-circle" src="/assets/images/faces/face15.jpg" alt="">
                                <p class="mb-0 d-none d-sm-block navbar-profile-name" th:text="${session.userName}">Henry Klein</p>
                                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">

                            <div class="dropdown-divider"></div>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-logout text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content" onclick="logOut()">
                                    <p class="preview-subject mb-1" >Log out</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-format-line-spacing"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-5">Add Product Offer</h4>
                                <!-- <p class="card-description"> Basic form layout </p> -->
                                <form class="forms-sample" th:action="@{/admin/addProductOffer}" method="post" th:object="${productOffer}" onsubmit="return validateOfferForm()">
                                    <div class="form-group  row">

                                        <div class="col-6  text-light mb-4">
                                            <label for="offerName">Offer Name</label>
                                            <input type="text" class="form-control  text-light" name="productOfferName" id="offerName"  placeholder="Offer Name" >
                                        </div>
                                        <div class="col-6 mb-4">
                                            <label for="percentage">Discount Amount</label>
                                            <input type="number" class="form-control text-light" id="percentage" name="discountPercentage" placeholder="Discount percentage" >
                                        </div>
                                        <div class="col-6 mb-4">
                                            <label for="startDate">Start Date</label>
                                            <input type="date" class="form-control text-light" id="startDate" name="startDate"    placeholder="Start Date" >
                                        </div>
                                        <div class="col-6 mb-4">
                                            <label for="endDate">End Date</label>
                                            <input type="date" class="form-control text-light" id="endDate" name="expiryDate"    placeholder="Expiry Date">
                                        </div>
                                        <div class="col-4 mx-auto mt-4">
                                            <button type="submit"  class="btn btn-inverse-primary btn-lg btn-block">
                                                <i class="fa-solid fa-pen-nib"></i> Add Offer </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<div id="validateAlert" data-aos="fade-down" class="alert alert-danger col-3 fixed-top mx-auto"
     style="top:20px; border-radius: 7px; opacity: 0.9; z-index: 10000;display:none;" role="alert" >
    <h5 class="alert-heading text-center" ><i class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i> <span id="ValidErrMess"></span></h5>
    <!-- <p class="fs-6 form-text text-white">Your password has been successfully updated.</p> -->
</div>
<script src="/assets/js/adminjs.js"></script>

<script src="/assetsProfile/js/validation.js"></script>

<!-- container-scroller -->
<!-- plugins:js -->
<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/assets/js/off-canvas.js"></script>
<script src="/assets/js/hoverable-collapse.js"></script>
<script src="/assets/js/misc.js"></script>
<script src="/assets/js/settings.js"></script>
<script src="/assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/assets/js/dashboard.js"></script>
<!-- End custom js for this page -->
</body>
</html>